<section class="centered-section">
  <article class="welcome-container">
    <h2>
      Welcome<span *ngIf="user?.username">, </span><span [ngClass]="{ 'user-nick': user?.username }">{{
        user?.username || " anonymous"
      }}</span>
    </h2>
    <div>
      <p *ngIf="!user; else userDescription" class="description">
        This is a simple task manager application built with <span class="angular">Angular</span>, <span class="nest">NestJS</span> and <span class="mysql">MySQL</span>. You can create an account and manage your tasks as a local user from the database or as an discord user from the discord api.
      </p>
      <ng-template #userDescription>
        <p class="description">
          Welcome back! You can now manage your tasks directly from your <a routerLink="/task-list" class="jasmine links">Task List</a> or manage your profile at <a routerLink="/profile" class="jasmine links">Profile</a>. Remember, staying organized is the key to productivity. If you need to, you can also logout of your account at any time. Enjoy managing your tasks!
        </p>
      </ng-template>
    </div>
  </article>
  <button
    class="btn-manage mt-3"
    (click)="user ? manageTasksRedirect() : loginRedirect()"
  >
    {{ user ? "Manage Tasks" : "Login Now" }}
  </button>
</section>

<!-- 
IDEAS TRASH CAN

PS: I made a task stats displayer but I didn't like it so I commented it out. Had no idea on how to design it to look good...

<div *ngIf="user">
  <p class="description">
    You currently have
    <span class="jasmine">{{ userStats?.totalTasks }}</span> tasks in total.
    Here are some stats about them:
  </p>
  <div class="stats-container">
    <div class="card">
      <img
        src="../../../../assets/jan-kronies-fNCT47HnlNE-unsplash.jpg"
        class="card-img-top"
        alt="Mountain"
        title="No specific reason for a mountain image, I just like them xD"
      />
      <div class="card-body">
        <h3 class="card-title">Completed Tasks</h3>
        <p class="card-text">
          You have completed
          <span class="jasmine">{{ userStats?.doneTasks }} </span> tasks.
          Great job! Keep up the good work and continue to complete your
          tasks.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/pexels-eberhard-grossgasteiger-1421903.jpg"
        class="card-img-top"
        alt="Mountain"
        title="No specific reason for a mountain image, I just like them xD"
      />
      <div class="card-body">
        <h3 class="card-title">In Progress Tasks</h3>
        <p class="card-text">
          You have
          <span class="jasmine">{{ userStats?.inProgressTasks }} </span>
          tasks in progress. These are tasks that you have started but not
          yet completed. Keep up the good work!
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/pexels-drift-shutterbug-2085998.jpg"
        class="card-img-top"
        alt="Mountain"
        title="No specific reason for a mountain image, I just like them xD"
      />
      <div class="card-body">
        <h3 class="card-title">Open Tasks</h3>
        <p class="card-text">
          You have
          <span class="jasmine">{{ userStats?.openTasks }} </span> open
          tasks. These are tasks that you have not yet started. Start
          working on these tasks to make progress on your task list.
        </p>
      </div>
    </div>
    <div class="card">
      <img
        src="../../../../assets/john-towner-JgOeRuGD_Y4-unsplash.jpg"
        class="card-img-top"
        alt="Mountain"
        title="No specific reason for a mountain image, I just like them xD"
      />
      <div class="card-body">
        <h3 class="card-title">Urgent Tasks</h3>
        <p class="card-text">
          From all your tasks,
          <span class="jasmine">{{ userStats?.urgentTasks }}</span> of them
          are urgent. These are tasks that need your immediate attention.
          Prioritize these tasks to ensure they are completed on time.
        </p>
      </div>
    </div>
  </div>
</div>

-->
