@import "../../../../variables.scss";

section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.welcome-container {
  font-weight: 500;

  h2 {
    font-size: 1.75rem;
    color: $whiteSmoke;

    span {
      word-break: break-all;
    }

    .user-nick {
      color: $mint;
    }
  }

  .description {
    max-width: 40rem;
    font-size: 1.25rem;
    color: $whiteSmoke;
    text-align: center;
    margin: 1rem auto;
  }

  @media (min-width: 640px) {
    h2 {
      font-size: 2rem;
    }
  }

  @media (min-width: 768px) {
    h2 {
      font-size: 2.25rem;
    }
  }

  @media (min-width: 1024px) {
    h2 {
      font-size: 3rem;
    }
  }

  @media (min-width: 1280px) {
    h2 {
      font-size: 3.5rem;
    }
  }
}

.stats-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

  @media (min-width: 640px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.btn-manage {
  max-width: fit-content;
  position: relative;
  padding: 0.35em 1em;
  border-radius: 0.25em;
  background-color: $mint;
  border: none;
  box-shadow: 0 6px 0 $mint-dark;
  font-size: 1.25rem;
  color: $whiteSmoke;
  outline: none;

  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    background-color: $jasmine;
    box-shadow: 0 6px 0 $jasmine-dark;
  }

  &:active {
    transform: translateY(6px);
    box-shadow: none;
  }

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}

.centered-section{
  height: 100%;
  align-items: center;
  justify-content: center;

  .welcome-container {
    text-align: center;
  }
}

.jasmine {
  color: $jasmine;
}

.links {
  outline: none;
  border-bottom: 1px solid transparent;
  transition: all .35s ease-in-out;

  &:focus,
  &:hover {
    color: $mint;
    border-bottom-color: $mint;
  }
}

.card-img-top {
  border-bottom: 1px solid $mint;
}

.angular {
  color: #E23237;
}

.nest {
  color: #E0234E;
}

.mysql {
  color: #4479A1;
}