@import "../../../../variables.scss";

h2 {
  cursor: default;
  color: $whiteSmoke;
  font-size: 1.75rem;

  @media (min-width: 640px) {
    font-size: 2rem;
  }

  @media (min-width: 768px) {
    font-size: 2.25rem;
    text-align: center;
  }

  @media (min-width: 1024px) {
    font-size: 3rem;
  }
}

p {
  cursor: default;
  color: $whiteSmoke;
  font-size: 1.25rem;
}

h3 {
  margin-top: 2rem;
  color: $whiteSmoke;
  font-size: 1.5rem;
}

h4 {
  color: $whiteSmoke;
  font-size: 1.25rem;
}

.username {
  color: $mint;
  transition: color 0.35s ease-in-out;
  word-break: break-all;

  &:hover {
    color: $jasmine;
  }
}

.msg-tasks {
  display: flex;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 2em;
  color: $whiteSmoke;
  gap: 1em;
}

.mint {
  color: $mint;
}

.jasmine {
  color: $jasmine;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;

  @media (min-width: 768px) {
    justify-content: center;
    align-items: center;
  }
}

.pfp-wrapper {
  position: relative;
  width: 100%;
  max-width: 80px;
  background-color: $night;
  aspect-ratio: 1;

  img {
    outline: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 9999px;
    cursor: pointer;
    object-position: center;
    transition: all .15s ease-in-out;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

input[type="file"] {
  display: none;
}

.camera-container {
  position: absolute;
  cursor: pointer;
  right: -3px;
  bottom: -2px;
  padding: 0.4rem;
  border: 1px solid $mint;
  border-radius: 9999px;
  background-color: rgba($color: $night, $alpha: 0.5);
  outline: none;

  fa-icon {
    color: $whiteSmoke;
  }

  &:hover,
  &:focus {
    fa-icon {
      animation: rotate 0.4s ease-in-out;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.user-info-container {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    word-break: break-all;
  }
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  @media (min-width: 768px) {
    max-width: 440px;
  }

  @media (min-width: 1024px) {
    max-width: 540px;
  }
}

.stat {
  flex-grow: 1;
  border: 1px solid $mint;
  border-radius: 4px;
  padding: 0.5em 1em;
  transition: transform 0.35s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }
}

.action-container {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;

  p {
    word-break: normal;
    font-size: 1.15rem;
  }

  @media (min-width: 768px) {
    gap: 1rem;
  }
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  color: $whiteSmoke;
  text-align: end;
  font-size: 1.15rem;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:focus {
    color: $jasmine;
  }
}

.alert {
  color: $coralRed;
}
