@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&family=Oswald:wght@400;700&display=swap");
@import "variables.scss";

// ngbAlert close button variables
$btn-close-color: white;
$btn-close-opacity: 0.75;
$btn-close-hover-opacity: 1;
$btn-close-disabled-opacity: 0.75;

// ngbAccordion variables
$accordion-bg: $eerieBlack;
$accordion-color: $whiteSmoke;
$accordion-button-color: $whiteSmoke;

$accordion-button-active-bg: $eerieBlack;
$accordion-button-active-color: $whiteSmoke;

$accordion-border-color: $mint;

$accordion-button-focus-box-shadow: 0px 0px 10px 1px
  rgba(
    $color: $mint,
    $alpha: 0.75,
  );

$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$whiteSmoke}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$jasmine}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");

// ngTemplate modal variables
$modal-content-color: $whiteSmoke;
$modal-content-bg: $eerieBlack;
$modal-content-border-color: $mint;

// bootstrap form varibales
$input-group-addon-color: $whiteSmoke;
$input-group-addon-bg: transparent;
$input-group-addon-border-color: $jasmine;

@import "bootstrap/scss/bootstrap";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  // font-family: 'Oswald', sans-serif;
}

fa-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

h1 {
  font-family: "Oswald", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: $night;
  display: grid;
  min-height: 100svh;

  app-root {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 2rem;
  }
}

header,
main,
footer {
  width: 100%;
  max-width: 96rem; // 1536px
  margin: 0 auto;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: inherit;
}

// Custom Scrollbar
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, $mint, $jasmine);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    to bottom,
    rgba($color: $mint, $alpha: 0.85),
    rgba($color: $jasmine, $alpha: 0.85)
  );
}

// input:search style the X
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: .3;
  pointer-events: all;
}

// fontawesome spin-animation
.fa-spin {
  animation: fa-spin 1.5s infinite linear !important;
}
