// $mint: rgb(1, 195, 155);
// $jasmine: rgb(235, 205, 111);

$mint: rgb(116, 58, 213);
$mint-dark: rgb(78, 39, 139);
$jasmine: rgb(213, 58, 157);
$jasmine-dark: rgb(134, 29, 96);

$coralRed: rgb(255, 92, 92);
$coralYellow: rgb(251, 217, 50);
$coralGreen: rgb(84, 171, 130);

$red: rgb(220, 53, 69);
$red-dark: rgb(175, 43, 57);

$night: rgb(19, 20, 25); // #0E0F19, rgb(15, 16, 26)
$eerieBlack: rgb(15, 16, 26); // rgb(35, 35, 34), rgb(19, 20, 25)
$gray: rgb(246, 248, 255); 
$whiteSmoke: rgb(243, 242, 243);

// hsl(193, 38%, 86%)
// $neon-green: rgb(82, 255, 168); // hsl(150, 100%, 66%)
// $grayish-blue: rgb(78, 93, 115); // hsl(217, 19%, 38%)
// $d-grayish-blue: rgb(50, 58, 73); // hsl(217, 19%, 24%)
// $dark-blue: rgb(31, 38, 50); // hsl(218, 23%, 16%)