// $mint: rgb(1, 195, 155);
$mint: rgb(116, 58, 213);
// $jasmine: rgb(235, 205, 111); 
$jasmine: rgb(213, 58, 157);
$coralRed: rgb(255, 92, 92);
$night: rgb(19, 20, 25);
$eerieBlack: rgb(35, 35, 34);
$gray: rgb(246, 248, 255);
$whiteSmoke: rgb(243, 242, 243);

// hsl(193, 38%, 86%)
// $neon-green: rgb(82, 255, 168); // hsl(150, 100%, 66%)
// $grayish-blue: rgb(78, 93, 115); // hsl(217, 19%, 38%)
// $d-grayish-blue: rgb(50, 58, 73); // hsl(217, 19%, 24%)
// $dark-blue: rgb(31, 38, 50); // hsl(218, 23%, 16%)