<section>
  <article>
    <h2>Forgot your password?</h2>
    <p class="sub-text">
      Recover your password by entering your email address below. We'll send a
      <span>token</span> to your email, use it to reset your password and get
      back on track.
    </p>
  </article>
  <div class="forms-container">
    <form (ngSubmit)="sendEmail()" [formGroup]="emailForm" #emailDir="ngForm">
      <div class="form-group mb-3">
        <div>
          <input
            type="email"
            id="email"
            placeholder="email"
            formControlName="email"
            required
          />
          <label for="email" class="form-label" aria-placeholder="email"
            >Email</label
          >
        </div>
        <div *ngIf="emailDir.submitted" class="wrong-container mt-1">
          <p *ngIf="email?.errors?.['required']">Email is required</p>
          <p *ngIf="email?.errors?.['email']">Please enter a valid email</p>
          <p *ngIf="emailError">{{ emailError }}</p>
        </div>
      </div>
      <button type="submit">
        <span>Send Token</span>
        <fa-icon [icon]="ticketIcon"></fa-icon>
      </button>
    </form>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetForm" #formDir="ngForm">
      <div class="form-group mb-3">
        <div>
          <input
            class="token"
            formControlName="token"
            id="token"
            placeholder="token"
            required
            type="text"
          />
          <label for="token" class="form-label" aria-placeholder="token"
            >Token</label
          >
        </div>
        <div
          *ngIf="token?.invalid && formDir.submitted"
          class="wrong-container mt-1"
        >
          <p *ngIf="token?.errors?.['required']">
            Token is required to reset password
          </p>
        </div>
        <div class="wrong-container mt-1" *ngIf="tokenError">
          <p>Token Error: {{ tokenError }}</p>
        </div>
      </div>
      <div class="form-group mb-3">
        <div>
          <input
            appDisableCopyPaste
            class="password"
            formControlName="password"
            type="{{ showPassword ? 'text' : 'password' }}"
            id="password"
            placeholder="password"
            required
            title="U can't copy/paste this input >:["
          />
          <label for="password" class="form-label" aria-placeholder="password"
            >New Password</label
          >
          <fa-icon
            [icon]="showPassword ? eyeSlash : eye"
            tabindex="0"
            (keydown)="togglePassword('password', $event)"
            (click)="togglePassword('password')"
          ></fa-icon>
        </div>
        <div
          class="wrong-container mt-1"
          *ngIf="password?.invalid && formDir.submitted"
        >
          <p *ngIf="password?.errors?.['required']">New Password is required</p>
          <p *ngIf="password?.errors?.['minlength']">Minimum length is 8</p>
          <p
            *ngIf="password?.errors?.['pattern'] && !password?.errors?.['minlength']"
          >
            Password must contain at least 1 uppercase, 1 lowercase, 1 number
            and 1 special character (e.g. !&#64;$%^&*_?.)
          </p>
          <!-- Exibir mensagem de erro que está fora do padrão somente se não atender ao pattern fornecido E se o minLength já ter sido respeitado, não quero exibir as 2 mensagens simultaneamente -->
        </div>
      </div>
      <div class="form-group mb-3">
        <div>
          <input
            appDisableCopyPaste
            class="password"
            formControlName="confirmPassword"
            type="{{ showCpassword ? 'text' : 'password' }}"
            id="confirmPassword"
            placeholder="Confirm Password"
            required
            title="U can't copy/paste this input >:("
          />
          <label
            for="confirmPassword"
            class="form-label"
            aria-placeholder="Confirm Password"
            >Confirm New Password</label
          >
          <fa-icon
            [icon]="showCpassword ? eyeSlash : eye"
            tabindex="0"
            (keydown)="togglePassword('cpassword', $event)"
            (click)="togglePassword('cpassword')"
          ></fa-icon>
        </div>
        <div
          class="wrong-container mt-1"
          *ngIf="
            (confirmPassword?.invalid || unmatchingPasswords) &&
            formDir.submitted
          "
        >
          <p *ngIf="confirmPassword?.errors?.['required']">
            Confirm New Password is required
          </p>
          <p *ngIf="unmatchingPasswords && confirmPassword?.value">
            Incorrect confirmation password
          </p>
          <!-- Mostrar que a senha está incorreta somente se houver realmente algum input, senão houver input exiba somente o required acima, caso haja e não tenha match, aí sim exiba a mensagem de incorrect -->
        </div>
      </div>
      <button type="submit">
        <span>Reset Password</span>
        <fa-icon [icon]="keyIcon"></fa-icon>
      </button>
    </form>
  </div>
</section>
