@import "../../../variables.scss";

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

p {
  display: flex;
  gap: 0.25em;
  align-items: center;
  color: $whiteSmoke;

  fa-icon {
    color: $mint;
    transition: all 350ms ease-in-out;
  }

  a {
    transition: color 350ms ease-in-out;
    outline: none;

    &:hover,
    &:focus {
      color: $mint;
    }
  }

  &:hover {
    // hover the paragraph, increase heart!
    fa-icon {
      color: $jasmine;
      font-size: 1.25rem;
    }
  }
}
